<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Degate</Name>
    <Version>@DEGATE_VERSION@</Version>
    <Title>Degate</Title>
    <Publisher>Degate community</Publisher>
    <StartMenuDir>Degate</StartMenuDir>
	<TargetDir>@ApplicationsDir@/Degate</TargetDir>
	<InstallerWindowIcon>Degate.png</InstallerWindowIcon>
	<InstallerApplicationIcon>Degate</InstallerApplicationIcon>
</Installer>
