---
Checks: >
  *,
  -abseil*,
  -google*,
  -fuchsia*,
  -llvmlibc*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -hicpp-braces-around-statements,
  -readability-braces-around-statements,
  -misc-unused-parameters,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -llvm-header-guard,
  -hicpp-signed-bitwise,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -hicpp-special-member-functions,
  -modernize-use-nodiscard,
  -readability-simplify-boolean-expr,
WarningsAsErrors:  ''
CheckOptions:
  - key:    readability-identifier-naming.ClassCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.StructCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.EnumCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.VariableCase
    value:  'lower_case'
  - key:    readability-identifier-naming.FunctionCase
    value:  'lower_case'
  - key:    readability-identifier-naming.ParameterCase
    value:  'lower_case'
  - key:    readability-identifier-naming.EnumConstantCase
    value:  'UPPER_CASE'
  - key:    readability-identifier-naming.MacroDefinitionCase
    value:  'UPPER_CASE'
  - key:    readability-identifier-naming.NamespaceCase
    value:  'lower_case'
...
