build/*
!build/.keepme
.idea/

etc/installer/packages/Degate/data/*
!etc/installer/packages/Degate/data/.keepme
etc/installer/Degate installer.exe

res/CHANGELOG.md

src/Core/Version.h
etc/installer/config/config.xml
etc/installer/packages/Degate/meta/package.xml

doc/DoxyFile
doc/build/*
!doc/build/.keepme
!doc/build/MainPage.md