build/*
!build/.keepme
.idea/
.vs/
.vscode/
.cache/

etc/installer/packages/Degate/data/*
!etc/installer/packages/Degate/data/.keepme
etc/installer/Degate installer.exe

res/CHANGELOG.md

src/Core/Version.h
etc/installer/config/config.xml
etc/installer/packages/Degate/meta/package.xml

doc/build/*
!doc/build/.keepme
doc/config/DoxyFile
