name: Windows deploy

on: [workflow_dispatch]

env:
  BUILD_TYPE: Release # Change build type here.

jobs:
  build:
    runs-on: windows-latest # Change Windows version here.

    steps:
    - uses: actions/checkout@v2
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.15.2 # Update Qt version here.
        aqtversion: '>=0.9.7'

    - name: Install Boost
      shell: pwsh
      # Change Boost version here (see https://sourceforge.net/projects/boost/files/boost-binaries/).
      # See https://github.com/actions/virtual-environments/issues/2667#issue-804635858.
      run: |
        $Url = "https://sourceforge.net/projects/boost/files/boost-binaries/1.72.0/boost_1_72_0-msvc-14.2-64.exe"
        (New-Object System.Net.WebClient).DownloadFile($Url, "$env:TEMP\boost.exe")
        Start-Process -Wait -FilePath "$env:TEMP\boost.exe" "/SILENT","/SP-","/SUPPRESSMSGBOXES","/DIR=C:\hostedtoolcache\windows\Boost\1.72.0\x86_64"

    - name: Build
      shell: bash
      # Don't forget to update Boost path.
      run: |
        cd build
        cmake .. -DBOOST_ROOT="C:\hostedtoolcache\windows\Boost\1.72.0\x86_64" -A x64
        cmake --build . --config $BUILD_TYPE
      
    - name: Prepare binaries
      shell: bash
      run: |
        cd build/out/bin/$BUILD_TYPE
        $Qt5_Dir/bin/windeployqt.exe ./
        
    - name: Upload Degate binaries
      uses: actions/upload-artifact@v2
      with:
        name: Degate_binaries_Windows_x64
        path: build/out/bin/${{ env.BUILD_TYPE }}/
      
    - name: Prepare installer
      shell: cmd
      continue-on-error: true # Robocopy exit code 1 on success.
      run: |
        cd build/out/bin/%BUILD_TYPE%
        C:\msys64\usr\bin\wget.exe https://aka.ms/vs/16/release/vc_redist.x64.exe
        del ..\..\..\..\etc\installer\packages\Degate\data\.keepme
        ROBOCOPY .\ ..\..\..\..\etc\installer\packages\Degate\data /E
      
    - name: Create Degate installer
      shell: cmd
      # Update the Qt Installer Framework (ifw) version here (by providing the exe download link and changing the exe name/path).
      run: |
        cd etc/installer
        C:\msys64\usr\bin\wget.exe https://download.qt.io/online/qtsdkrepository/windows_x86/desktop/tools_ifw/qt.tools.ifw.42/4.2.0-0-202111080926ifw-win-x86.7z
        7z.exe x 4.2.0-0-202111080926ifw-win-x86.7z -y
        .\Tools\QtInstallerFramework\4.2\bin\binarycreator.exe --offline-only -c config\config.xml -p packages "Degate_offline_installer_Windows_x64.exe"
        .\Tools\QtInstallerFramework\4.2\bin\binarycreator.exe --online-only -c config\config.xml -p packages "Degate_online_installer_Windows_x64.exe"
      
    - name: Upload Degate offline installer
      uses: actions/upload-artifact@v2
      with:
        name: Degate_offline_installer_Windows_x64
        path: etc/installer/Degate_offline_installer_Windows_x64.exe

    - name: Upload Degate online installer
      uses: actions/upload-artifact@v2
      with:
        name: Degate_online_installer_Windows_x64
        path: etc/installer/Degate_online_installer_Windows_x64.exe
        
    - name: Create Degate update
      shell: cmd
      run: |
        cd etc/installer
        .\Tools\QtInstallerFramework\4.2\bin\repogen.exe -p packages repository
      
    - name: Upload Degate update
      uses: actions/upload-artifact@v2
      with:
        name: Degate_update_Windows_x64
        path: etc/installer/repository
